    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/dashboard.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/boxicons-2.0.3/css/boxicons.min.css">
    <script src="/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/styler.css">