<nav class="w-100 p-4 d-flex justify-content-between top-nav">
    <div class="d-flex">
        <img src="/images/dashboard.png" class="img-sm mr-2 my-auto">
        <p id="dashboard" class="my-auto">Dashboard</p>
    </div>
    
    <img src="/images/logo.png" class="img-sm">
</nav>