<!DOCTYPE html>
<html>
<head>
    <%- include('../includes/headerlink.ejs')  %> 
</head>
<body>


 

	    <main>
        <div class="w-50 mx-auto main my-5">
            <img src="/images/logo.png" class="mb-5" width="170">

            <h1>An error occured! We are sorry for the Inconveniences.</h1>
            
        </div>
    </main>
    
    
    <script src="/styling/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/styling/js/bootstrap.min.js"></script>
</body>
</html>